@charset "UTF-8";

:root {
    --color0: #01400B;
    --color1: #4ed96365;
    --color2: #80f29159;
    --color3: #F2F2F2;
    --color4: #0D0D0D;
    --color5: #000000bd;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg1.jpg');
}

main {
    position: relative;
    height: 100vh;  
    width: 100vw;
}

section#login-container {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
}

.imagem {
    position: relative;
    background-image: linear-gradient(var(--color1), var(--color2)), url('../images/2853458.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}


section > .container {
    background-color: white;
    height: 350px;
    width: 250px;
    border-radius: 0px 0px 10px 10px;
}

.imagem-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px var(--color5);
}

div.container > h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.container > form > input {
    margin-left: 10px;
    margin-bottom: 15px;
}

div.container > form > a.container-botao {
    cursor: pointer;
    height: 50px;
    width: 100px;
    border: 1px solid black;
}

div.container > p.container-new {
    text-align: center;
}

div.container > form > input.container-botao {
    border-radius: 10px;
    margin: auto;
    height: 35px;
    width: 200px;
}