@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --font0: 'Sora', sans-serif;
    --fonte1: 'Fraunces', serif;
    --fonte2: 'Montserrat', sans-serif;

    --cor0: #F3EBE5;
    --cor1: #3C8067;
    --cor2: #214538;
    --cor3: #0059ff;
    --cor4: #005e17;
    --cor5: #00b12c; 
    --cor6: #23e654;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: black url(../assets/imagens/background.jpg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#container {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    height: 70%;
    width: 60%;
    border-radius: 15px 15px 70px 15px;

    transform: translate(-50%, -50%);
}

div#formulario {
    position: absolute;
    top: 0;
    left: 53%;

    float: right;
    height: 100%;
    width: 50%;

    background-color: var(--cor2);
    border-radius: 70px 15px 70px 0px;   
}

section#container > div#imagem {
    display: block;
    background: black url(../assets/imagens/login.jpg);
    background-position: center center;
    background-size: cover;
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

main > section#container > div#formulario > h1, main > section#container > div#formulario > h2 {
    color: white;
    font-family: var(--fonte1);
    font-weight: bolder;
    font-size: 1.8em;
    margin: 7px;
    padding: 7px;
    text-align: center;
}

main > section#container > div#formulario > h2 {
    font-weight: normal;
}

form#form-login {
    padding: 3%;
    margin-top: 20%;
}

div.input-group {
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 4%;
    height: 40px;
}

input {
    border: none;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    padding-left: 5%;
}

div.links {
    margin-top: 3%;
    text-align: right;
}

div.links > a {
    font-family: var(--fonte2);
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}

div.links > a:hover {
    color: var(--cor3);
    font-weight: bold;
}

button.btn-entrar {
    background-image: linear-gradient(to right, #005e17, #00b12c, #23e654);
    color: white;
    font-family: var(--fonte2);
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin: 15% 0;

}

button.btn-entrar:hover {
    background-image: linear-gradient(to left, #005e17, #00b12c, #23e654);
}
div#formulario > p#version {
    color: white;
    text-align: right;
    top: 0;
    left: 0%;

    transform: translate(-10%, -50%);
}